@import "../variables";
@import "../mixins";

.about-us {
    background-color: #fafafa;
    padding: 110px 0 80px;

    &__wrap {
        display: flex;
        justify-content: center;
        padding-top: 35px;

        @include b(479) {
            flex-direction: column;
            
        }
    }

    &__img-wrap {
        max-width: 300px;
        max-height: 410px;
    }

    &__descr {
        max-width: 50%;
        padding: 20px 0 0 120px;
        @include b(768) {
            flex-direction: column;
            width: 100%;
            padding: 10px 0 0 30px;
        }

        @include b(479) {
            margin-left: 0;
            text-align: center;
        }

        &-caption {
            display: block;
            max-width: 315px;
            font-size: 35px;
            line-height: 1.285;
            letter-spacing: 2px;
            padding-bottom: 30px;
            
            @include b(479) {
                font-size: 26px;
                font-weight: bold;
                margin: 0 auto;
                width: 100%;
            }
        }

        &-text {
            max-width: 420px;
            margin-bottom: 30px;
            font-family: $arial;
            font-size: $main-fz;
            line-height: 1.55;
            color: $second-color;
            @include b(479) {
                font-size: px;
                margin: 0 auto;
            }

        }
    }
}